<h2>Your Cart Items</h2>

<table border= "1">
<thead>
<tr>
	<th> Sl No </th>
	<th> Name </th>
	<th> Price </th>
	<th> Quantity </th>
	<th> Total </th>
	<th> Action </th>
	<th> WishList</th>
</tr>
</thead>
<tbody>
<% total = 0 %>
	<% @cart_line_items.each_with_index do |line_item,index| %>
	<tr>
		<td><%= index + 1 %></td>
		<td><%= line_item.product.name%></td>
				<td><%= line_item.product.price%></td>

					<td><%= form_for line_item do |f| %>
					<%= f.select :quantity, (1..10).to_a %>
					<%= f.submit "Update" %>

					<%end%></td>

		<td><%= line_item.product.price * line_item.quantity %></td>
		<td>
	
		</td>
		<% total += line_item.product.price * line_item.quantity %>

				<td><%= link_to "remove", cart_line_item_path(line_item.id), method: :delete, data: {confirm: "Are you Sure?"} %></td>
	</tr>
	
	<%end%>
</tbody>
 </table>
 <strong>Cart Toatal is: <%= total %> </strong> </br>

<%= form_for @order do |f| %>
<%= f.collection_select :address_id, current_user.addresses,:id,:street, prompt: "select address" %> <br/>
<%=f.submit "Check Out"%>
<%end%>




