<h2><%= @product.name %></h2>
<p>code - <%= @product.code %></p>
<p> Price - <%= @product.price %> </p>
<p>	description - <%= @product.description %> </p>
<p> category - <%= link_to @product.category.name, category_path %>
	</p>
<p>stock - <%= @product.stock %></p>


<%= form_for @cart_line_item do |f| %>
<%= f.label :quantity %>
<%= f.select :quantity, (1..10).to_a%> <br/>
<%= f.hidden_field :product_id, value: @product.id %>
<%= f.submit "Add to cart"%>
<%end%>

<%= form_for @wishlist do |f| %>
<%= f.hidden_field :product_id, value: @product.id %>
<%= f.submit "save for later" %>
<%end%>



<h2><font color="green">Reviews</font></h2>
<ul id= "reviewList">
	<% @product.reviews.each do |review|%>
	 <li id= "r_<%= review.id %>"><%= review.body%>
	 	<% if review.user_id == current_user.id%>
		<%= link_to "destroy", review_path(review.id),method: :delete, data: {confirm: "Are you sure?", remote: true}  %>
		<%end%></li>
	<%end%>
</ul>
<div id= "errorMsg"></div>
	<%if user_signed_in?%>
			<%= form_for @review, remote: true do |f| %>
		<p><%= f.label :body %> </br>
		<%= f.text_area :body %> 
		</p>
		<%= f.label :rating %>
		<%= f.select :rating, (1..5).to_a%>
		<%= f.hidden_field :product_id, value: @product.id %> 
		<%= f.submit "Add review" %>
			<%end %>
	<%else%>
		<h4> <%= link_to "User Should Login Add Review", new_user_session_path%> </h4>
	<%end%>




<%= link_to "List Products", products_path %>

<% if user_signed_in? && current_user.is_admin %>
<%= link_to "edit", edit_product_path(@product.id) %>
<%= link_to "destroy", product_path(@product.id), method: :delete, data: {confirm: "Are you sure?"} %>
<%end%>
